{:deps  {
     org.clojure/clojure  {:mvn/version "1.10.0"}
     org.clojure/clojurescript  {:mvn/version "1.10.516"}
     com.bhauman/figwheel-main  {:mvn/version "0.2.0"}
     com.bhauman/rebel-readline-cljs  {:mvn/version "0.1.4"}

     org.clojure/tools.nrepl {:mvn/version "0.2.13"}
     cider/cider-nrepl {:mvn/version "0.17.0"}
     cider/piggieback {:mvn/version "0.3.8"}

     ; << macro
     org.clojure/core.incubator  {:mvn/version "0.1.4"}

     re-conf  {:mvn/version "0.4.8"}
   }

   :paths  ["src" "target" "resources" "dev"]

   :aliases  {
       :dev  {:main-opts  ["-m" "figwheel.main" "-b" "dev" "-r"]}
       :prod  {:main-opts  ["-m" "figwheel.main" "-bo" "prod"]}
       :rebel  {:main-opts  ["-m" "rebel-readline.main"]}
       :fig  {:main-opts ["-m" "figwheel.main"]}
    }
}

