{
  :public true

  :git {
    :user "ronen"
    :email "narkisr.com"
  }
  :ssh {
   :keys [
     {:key "AAAAB3NzaC1yc2EAAAADAQABAAABAQDlkxoBfmWnOCzvX/b+eQ9guLTQU7b9elS33o1VY63L8arf+LD9JGNcWlQHQXywrP8+G8UA3NQd09ZY8Rrqhq0/indJFbYTi2ZMgYJiig6J2bvYbrnYZ6ytldAT2cXRUXGYXGRMQiPynUPdlKpZjFlVzeWjRHw9ZdfUlfmrLVY0KIHnSmiiQWHB/JuEAviBukbmW+N3/nZFqwpbn91VzsHrrlCKwhVeAaS+x+XXeLDxwDUzzvpOuInfxF0J3bVrPsKCMlC1gzTWUihhO+LmTCPoAgjH+8EexDCx3frXzWiVD7+59NeWJEFyN6FSj/8HMQQAM5YMsVEaxg+NR+SpVBHX"
      :user ""
     }
     {:key "AAAAB3NzaC1yc2EAAAADAQABAAABAQDlmGGOTsBqpzwLQ093KHqpZtQwUrGHK/KALowvaJar2Cwlo/WALlLOTceHaFglq78BdIBieUnfn2VPW3XuMDyoClXNNAaaj9unEstr4YOteXj8ASFtlYQgXOD6NjlxSptkY+shj8w4g3i0cfA/YhiGvSNKzKnf7KLcTYQzJN1wlzCaS2kMPUbSeQRhTGc7D3zu7oblRjUD8PP4tQ4YeEu5zTEaNtrLN/60TG1WmmW0sb+ATjad7tnia26YtWef1o487wiz7byqZOVLWs8Tx8q4qjaerPat5VuhKTSCpYCWVlxIlxHi4p1orNtLYGqwp44rxzQmP2fY9KK+QEmEDTMT"
      :user ""
      }
      {:key "AAAAB3NzaC1yc2EAAAADAQABAAABAQDV9UngiTAaDG0o0UOLjtpougTXxqV4crxKS203wqyJYMZlZ4YWzlEekLcSPEa1GJf0LO6Bf1N0t63mrTJmH0SFyEmhJYCmL4W3/bzrXDT8kAMGZ5dGe4w7vjOLhJo6iqzWfoIWvAbe9dcQH+cmc5IWwZVW1ek82rsEARoLQh5a0fKAsBEMODkB4vcj37LBpMu1aft9NqrNwOhDczGBHQgojzIbscy2OcLP+UCYx8oPLTmQ9hkJXk73HA9fRR/8I4F9eFGE0TSjkEj1RdN1bCnosPIhzN3bGJ+IdzD2Eqi3gPa67RPZr43rGkcHcNc0o0Zh5jcXOnWeTwK+mQbUJGnl"
      :user ""
      }
      {:key "AAAAB3NzaC1yc2EAAAADAQABAAABAQCWTtDGbwNf6AUKtfP8eaT9RTNG84j4FFF8b6KIw1XSAjQYq25pNSr6+tFynzbhUnw5+hfHufYIDhpiwMF48cTpdmO5HX/AdBOpqcFSUYPpLj3Uw7G4GW9wqcxOMtpVk5/QbzAOdHY1wyhExSefXowKuDihiQQ/lt2mghVe43z7tvowpYaXQHfzWSmf+sA2/XMrbA/T7Oc3BLq9smR2sv+hmwtVwC/IfsVm7W1m1SWqiTl1n62iLuKg5tm3rWZa9B4Lev2Xu6Qu6tLqjJ1fupizgUsYHbV+Cj7na3h4FOgENZMNgwf2FLvAA7090rG8ey+SA4iOBSHok4PPHa2BXQ2b"
       :user ""
      }
      {:key "AAAAB3NzaC1yc2EAAAADAQABAAABAQDX3kyxqNnLnHC3WRPFMhX0K2LQVzBFnOXmo9rPi6kBggpPuhUsrIkUpZckA9uFQvENim8Nz30BaUW6JQaWL8rclWy1IrEU5R7e5chi/Qwn6cL5NVkrP9c2urDaO6eAOhIYVfvAkxM9cSLxcHxcWu9hOoXQHWaUgtp1O724MvnjTVzF1unIfDoGVmoTPyMcnksfR8bpH8fIq9Lqn02o23GRbsQl3nRNlrHQQNz6U0iLGxVL9JblT0ouOnYaRtbyeQo2wZp5TbpFlW3XOC8Daw+3HJDGAkIUJ2wm7Gdlao225wDSFKJgekLcBxOFKhAJdYIS8s4CqgkpQNmz/0z/x6G9"
       :user ""
      }
    ]
  }

  :users {
    :main {
      :name "re-ops"
      :uid 1000
      :gid 1000
    }
    :re-ops {
      :name "re-ops"
      :uid 1000
      :gid 1000
    }
  }
  :email {
    :address "narkisr@gmail.com"
    :domain "gmail.com"
    :user "foo"
    :password "1234"
  }
}
