{
  :public true

  :git {
    :user "ronen"
    :email "narkisr.com"
  }
  :ssh {
   :keys [
    
    ]
  }

  :users {
    :main {
      :name "re-ops"
    }
    :re-ops {
      :name "re-ops"
    }
  }

  :email {
    :address "narkisr@gmail.com"
    :domain "gmail.com"
    :user "foo"
    :password "1234"
  }
}
